## Tried different Similarities scores and went with cosine Similarity as it was more appropriate for the problem in hand

# Cosine Similarity

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd

In [62]:
df=pd.read_csv("df_all_jd.csv")

In [63]:
df.columns

Index(['Unnamed: 0', 'Job_Designation', 'resume_text', 'JD', 'tokens'], dtype='object')

In [64]:
df=df[['resume_text', 'JD']]

In [65]:
df=df.dropna()

In [66]:
df.isnull().sum()

resume_text    0
JD             0
dtype: int64

In [81]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = CountVectorizer()
vectorizer.fit(df['resume_text'])

similarities = []
for i in range(len(df)):
    resume_vector = vectorizer.transform([df.iloc[i]['resume_text']])
    job_description_vector = vectorizer.transform([df.iloc[i]['JD']])
    similarity = cosine_similarity(resume_vector, job_description_vector)
    similarities.append(similarity[0][0])
    
df['similarity'] = similarities

df_sorted = df.sort_values('similarity', ascending=False)

df_sorted

count_less_than_05 = (df['similarity'] < 0.9).sum()
# count_greater_than_05 = (df['similarity'] > 0.7).sum()

print("Number of similarities less than 0.9:", count_less_than_05)
#print("Number of similarities greater than 0.7:", count_greater_than_05)

Number of similarities less than 0.9: 4086

In [69]:
df_sorted = df.sort_values('similarity', ascending=False)

In [70]:
df_sorted

,resume_text,JD,similarity
2254,sr. database administrator/developer sr. datab...,Job Title: Sr. Database Administrator/Develope...,0.946533
3287,ms sql server database administrator ms sql se...,Job Title: MS SQL Server Database Administrato...,0.943792
2151,sql server database administrator sql server d...,Job Title: SQL Server Database Administrator\n...,0.942302
1048,"visual, graphic, web designer, webmaster visua...",Job Title: Web and Visual Designer/Webmaster\n...,0.941707
3170,senior sql server/oracle dba/etl engineer seni...,Job Title: Senior SQL Server/Oracle DBA/ETL En...,0.938961
...,...,...,...
3971,engineering technician ii-iii (electrical) eng...,Job Title: Engineering Technician II-III (Elec...,0.448132
2158,front- end developer front-end developer front...,Job Title: Front-end Developer\n\nJob Descript...,0.420465
2183,database administrator database administrator ...,Job Title: Database Administrator\n\nLocation...,0.338358
2226,cashier/customer service cashier/customer serv...,Job Title: Associate Database/Systems Administ...,0.330751
2232,database administrator ii database administrat...,Job Title: Database Developer/Administrator\n\...,0.232885

In [92]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = CountVectorizer()
vectorizer.fit(df1['resume_text'])

similarities = []
for i in range(len(df1)):
    resume_vector = vectorizer.transform([df1.iloc[i]['resume_text']])
    job_description_vector = vectorizer.transform([df1.iloc[i]['JD']])
    similarity = cosine_similarity(resume_vector, job_description_vector)
    similarities.append(similarity[0][0])
    
df1['similarity'] = similarities

df_sorted1 = df1.sort_values('similarity', ascending=False)

df_sorted1


count_less_than_05 = (df1['similarity'] < 0.8).sum()
# count_greater_than_05 = (df['similarity'] > 0.7).sum()

print("Number of similarities less than 0.8:", count_less_than_05)
#print("Number of similarities greater than 0.7:", count_greater_than_05)

Number of similarities less than 0.8: 50

# Jaccard Similarity

In [14]:
import pandas as pd

# Assuming your data frame is named 'df' and has columns 'resume_text' and 'job_description'
# You can use the following function to calculate Jaccard similarity for each row:

def jaccard_similarity(str1, str2):
    tokens1 = set(str1.lower().split()) # Convert the first string into a set of unique lowercase tokens
    tokens2 = set(str2.lower().split()) # Convert the second string into a set of unique lowercase tokens
    
    intersection = len(tokens1.intersection(tokens2)) # Find the size of the intersection of the two sets
    union = len(tokens1.union(tokens2)) # Find the size of the union of the two sets
    
    if union == 0:
        return 0
    
    return intersection / union # Calculate the Jaccard similarity

# Apply the jaccard_similarity function to each row of the data frame
df['jaccard_similarity'] = df.apply(lambda row: jaccard_similarity(row['resume_text'], row['JD']), axis=1)

# Now the 'jaccard_similarity' column will contain the Jaccard similarity between the resume text and the job description for each row

In [15]:
df

,Job_Designation,resume_text,JD,tokens,jaccard_similarity
0,systems administrator,python/django developer python/django develope...,Job Title: Python/Django Developer\n\nJob Summ...,1360,0.244057
1,"network administrator,systems administrator",senior cassandra developer senior cassandra de...,Job Title: Senior Cassandra Developer/Consulta...,1361,0.265886
2,"database administrator,web developer,software ...",python developer python developer python devel...,Job Title: Python Developer\n\nJob Type: Full-...,1361,0.246862
3,security analyst,sr. salesforce developer/ administrator sr. sa...,Job Title: Senior Salesforce Developer/Adminis...,1361,0.286385
4,project manager,cyber security analyst cyber security analyst ...,Job Title: Cyber Security Analyst\n\nJob Descr...,1361,0.256569

In [3]:
#pip install pandas tensorflow-text tensorflow-hub

# Euclidean Distance

In [17]:
import pandas as pd
import tensorflow_hub as hub
import tensorflow_text as text
import numpy as np

embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder/4")

In [18]:
def euclidean_distance(a, b):
    return np.sqrt(np.sum((a - b)**2, axis=1))

In [20]:
# Assuming your DataFrame is named df
resume_embeddings = embed(new_df['resume_text'].values)
job_description_embeddings = embed(new_df['JD'].values)

euclidean_distances = euclidean_distance(resume_embeddings, job_description_embeddings)

# Add the Euclidean distance to the DataFrame
df['euclidean_distance'] = euclidean_distances

In [21]:
df

,Job_Designation,resume_text,JD,tokens,jaccard_similarity,euclidean_distance
0,systems administrator,python/django developer python/django develope...,Job Title: Python/Django Developer\n\nJob Summ...,1360,0.244057,0.612019
1,"network administrator,systems administrator",senior cassandra developer senior cassandra de...,Job Title: Senior Cassandra Developer/Consulta...,1361,0.265886,0.635612
2,"database administrator,web developer,software ...",python developer python developer python devel...,Job Title: Python Developer\n\nJob Type: Full-...,1361,0.246862,0.561041
3,security analyst,sr. salesforce developer/ administrator sr. sa...,Job Title: Senior Salesforce Developer/Adminis...,1361,0.286385,0.451729
4,project manager,cyber security analyst cyber security analyst ...,Job Title: Cyber Security Analyst\n\nJob Descr...,1361,0.256569,0.573502