In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('rdataset.csv')

In [3]:
df

    Category                                             Resume
0         HR  TECHNICAL SKILLS â¢ Typewriting â¢ TORA â¢ ...
1         HR  I.T. Skills â¢ Windows XP, Ms Office (Word, E...
2         HR  Education Details \r\n BA   mumbai University\...
3         HR  Education Details \r\nJune 2012 to May 2015 B....
4         HR  Education Details \r\nJune 2012 to May 2015 B....
..       ...                                                ...
917      NaN                                                NaN
918      NaN                                                NaN
919      NaN                                                NaN
920      NaN                                                NaN
921      NaN                                                NaN

[922 rows x 2 columns]

In [5]:
df.isnull().sum()

Category    588
Resume      588
dtype: int64

In [9]:
df['JD'] = ''

In [7]:
df2 = pd.read_csv('dice_com-job_us_sample.csv')

In [8]:
df2

,advertiserurl,company,employmenttype_jobstatus,jobdescription,jobid,joblocation_address,jobtitle,postdate,shift,site_name,skills,uniq_id
0,https://www.dice.com/jobs/detail/AUTOMATION-TE...,"Digital Intelligence Systems, LLC","C2H Corp-To-Corp, C2H Independent, C2H W2, 3 M...",Looking for Selenium engineers...must have sol...,Dice Id : 10110693,"Atlanta, GA",AUTOMATION TEST ENGINEER,1 hour ago,Telecommuting not available|Travel not required,NaN,SEE BELOW,418ff92580b270ef4e7c14f0ddfc36b4
1,https://www.dice.com/jobs/detail/Information-S...,University of Chicago/IT Services,Full Time,The University of Chicago has a rapidly growin...,Dice Id : 10114469,"Chicago, IL",Information Security Engineer,1 week ago,Telecommuting not available|Travel not required,NaN,"linux/unix, network monitoring, incident respo...",8aec88cba08d53da65ab99cf20f6f9d9
2,https://www.dice.com/jobs/detail/Business-Solu...,"Galaxy Systems, Inc.",Full Time,"GalaxE.SolutionsEvery day, our solutions affec...",Dice Id : CXGALXYS,"Schaumburg, IL",Business Solutions Architect,2 weeks ago,Telecommuting not available|Travel not required,NaN,"Enterprise Solutions Architecture, business in...",46baa1f69ac07779274bcd90b85d9a72
3,https://www.dice.com/jobs/detail/Java-Develope...,TransTech LLC,Full Time,Java DeveloperFull-time/direct-hireBolingbrook...,Dice Id : 10113627,"Bolingbrook, IL","Java Developer (mid level)- FT- GREAT culture,...",2 weeks ago,Telecommuting not available|Travel not required,NaN,Please see job description,3941b2f206ae0f900c4fba4ac0b18719
4,https://www.dice.com/jobs/detail/DevOps-Engine...,Matrix Resources,Full Time,Midtown based high tech firm has an immediate ...,Dice Id : matrixga,"Atlanta, GA",DevOps Engineer,48 minutes ago,Telecommuting not available|Travel not required,NaN,"Configuration Management, Developer, Linux, Ma...",45efa1f6bc65acc32bbbb953a1ed13b7
...,...,...,...,...,...,...,...,...,...,...,...,...
21995,https://www.dice.com/jobs/detail/Web-Designer-...,IAC Publishing,Full Time,Company Description We are searching for a ta...,Dice Id : 10112803,"Oakland, CA",Web Designer,3 weeks ago,Telecommuting not available|Travel not required,NaN,"UI/UX mobile apps, interaction design, digital...",86e27ce6b7e631e55d69d142c7d43df2
21996,https://www.dice.com/jobs/detail/Senior-Front-...,Omega Solutions Inc,Full Time,CONTACT - priya@omegasolutioninc.com / 408-45...,Dice Id : 10289500,"San Francisco, CA",Senior Front End Web Developer - Full Time at ...,3 weeks ago,Telecommuting not available|Travel not required,NaN,"JavaScript, HTML5, CSS3, Bootstrap, AJAX, Reac...",4287c7ee3317ccf1edd76e238cf8e584
21997,https://www.dice.com/jobs/detail/QA-Analyst-Sa...,San Francisco Health Plan,Full Time,Do you take pride in your work knowing that th...,Dice Id : 10115761,"San Francisco, CA",QA Analyst,2 weeks ago,Telecommuting not available|Travel not required,NaN,"SDLC, ALM, SQL, T-SQL, RedGate, Team Foundatio...",d7512f0181d69f83f96db38cd77a4d08
21998,https://www.dice.com/jobs/detail/Tech-Lead%252...,IAC Publishing,Full Time,Company Description What We Can Offer YouAs th...,Dice Id : 10112803,"Oakland, CA",Tech Lead-Full Stack,2 weeks ago,Telecommuting not available|Travel not required,NaN,"Python, Ruby, Go, Clojure, Java, NoSQL-Databas...",ec375268b494b3bcbed1635d64226112
21999,https://www.dice.com/jobs/detail/C%2526%252347...,Technology Resource Group,"Full Time, Full Time",Experience in C/C++ ProgrammingDevelopment exp...,Dice Id : 90734436,"Santa Clara, CA",C/C++ Programmer,2 weeks ago,Telecommuting not available|Travel not required,NaN,Null,9a4e8c27f74af4c0d2f6efbd420a8a91

In [12]:
# select a jobdescription from the second dataframe
for i in range(len(df)):
    jobdesc = df2['jobdescription'][i]

    # fill the JD column of the first dataframe with the selected jobdescription
    df['JD'][i] = jobdesc

# save the updated dataframe to a new csv file
# df.to_csv('updated_first_dataframe.csv', index=False)

In [20]:
df.dropna()

,Category,Resume,JD
0,HR,TECHNICAL SKILLS â¢ Typewriting â¢ TORA â¢ ...,Looking for Selenium engineers...must have sol...
1,HR,"I.T. Skills â¢ Windows XP, Ms Office (Word, E...",The University of Chicago has a rapidly growin...
2,HR,Education Details \r\n BA mumbai University\...,"GalaxE.SolutionsEvery day, our solutions affec..."
3,HR,Education Details \r\nJune 2012 to May 2015 B....,Java DeveloperFull-time/direct-hireBolingbrook...
4,HR,Education Details \r\nJune 2012 to May 2015 B....,Midtown based high tech firm has an immediate ...
...,...,...,...
664,PMO,AREA OF EXPERTISE (PROFILE) Around 10 plus yea...,CenturyLink (NYSE: CTL) is a global communicat...
665,PMO,Skills Exceptional communication and networkin...,Job Number:-01225540 Key Role: Perform applica...
666,PMO,CORE COMPETENCIES â¢ Maintain processes to en...,"Net2Source, Inc. is one of the fastest growing..."
667,PMO,AREA OF EXPERTISE (PROFILE) Around 10 plus yea...,We are looking for Senior SAP VERTEX resource ...
668,PMO,Skills Exceptional communication and networkin...,US Citizens and Green Card Holders and those a...

In [21]:
df.to_csv('334unrelated.csv')

In [14]:
r = pd.read_csv('Resume.csv')

In [16]:
r['Category'].unique()

array(['HR', 'DESIGNER', 'INFORMATION-TECHNOLOGY', 'TEACHER', 'ADVOCATE',
       'BUSINESS-DEVELOPMENT', 'HEALTHCARE', 'FITNESS', 'AGRICULTURE',
       'BPO', 'SALES', 'CONSULTANT', 'DIGITAL-MEDIA', 'AUTOMOBILE',
       'CHEF', 'FINANCE', 'APPAREL', 'ENGINEERING', 'ACCOUNTANT',
       'CONSTRUCTION', 'PUBLIC-RELATIONS', 'BANKING', 'ARTS', 'AVIATION'],
      dtype=object)

In [18]:
r = r[~r['Category'].isin(['INFORMATION-TECHNOLOGY', 'ENGINEERING','CONSULTANT', 'DIGITAL-MEDIA'])]

In [24]:
r['Resume_Text'] = r['Resume_str']

/tmp/ipykernel_644777/3734615021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['Resume_Text'] = r['Resume_str']

In [26]:
r.drop(['Resume_str', 'ID', 'Resume_html','Category'], axis=1, inplace=True)

/tmp/ipykernel_644777/1328273305.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r.drop(['Resume_str', 'ID', 'Resume_html','Category'], axis=1, inplace=True)

In [38]:
r

,JD,Resume_Text
0,Position: Oracle Financial Specialist Locati...,HR ADMINISTRATOR/MARKETING ASSOCIATE\...
1,Are you passionate about delivering goals to y...,"HR SPECIALIST, US HR OPERATIONS ..."
2,Who we are: Incapsulate provides services from...,HR DIRECTOR Summary Over 2...
3,Our client northwest of Boston is in need of a...,HR SPECIALIST Summary Dedica...
4,Full time HireThe Sales Manager is responsible...,HR MANAGER Skill Highlights ...
...,...,...
2479,,RANK: SGT/E-5 NON- COMMISSIONED OFFIC...
2480,,"GOVERNMENT RELATIONS, COMMUNICATIONS ..."
2481,,GEEK SQUAD AGENT Professional...
2482,,PROGRAM DIRECTOR / OFFICE MANAGER ...
2483,,STOREKEEPER II Professional Sum...

In [28]:
df3 = df2[1000:]

In [54]:
r.reset_index(inplace=True)
df3

,level_0,index,advertiserurl,company,employmenttype_jobstatus,jobdescription,jobid,joblocation_address,jobtitle,postdate,shift,site_name,skills,uniq_id
0,0,1000,https://www.dice.com/jobs/detail/Oracle-Financ...,"Beacon Systems, Inc","Full Time, Contract Corp-To-Corp, Contract Ind...",Position: Oracle Financial Specialist Locati...,Dice Id : 10230636,"Providence, RI",Oracle Financial Specialist,7 days ago,Telecommuting not available|Travel not required,www.dice.com,"Oracle Financial,EBS,Oracle EBS,Oracle",b2a71fed0f8ff1b1b56f96df70deb0f2
1,1,1001,https://www.dice.com/jobs/detail/Strategy-Cons...,Deloitte,"Full Time, Permanent",Are you passionate about delivering goals to y...,Dice Id : 10106525,"Hartford, CT",Strategy Consulting - Human Capital - HR Share...,2 hours ago,Telecommuting not available|Travel required to...,www.dice.com,"Consulting, Development, Excel, HTML, HTTP, Ma...",b9ac1ab03d66f9c527aa53638f2571a3
2,2,1002,https://www.dice.com/jobs/detail/Sr.-Project-M...,"Incapsulate, LLC",Full Time,Who we are: Incapsulate provides services from...,Dice Id : 10364897,"Boston, MA",Sr. Project Manager,7 days ago,Telecommuting not available|Travel not required,www.dice.com,"Life insurance experience, Agile, MS Project.",9a6cd9a453faad71448378637244d43e
3,3,1003,https://www.dice.com/jobs/detail/Network-Engin...,WinterWyman,Contract W2,Our client northwest of Boston is in need of a...,Dice Id : CXWINWY,"Bedford, MA",Network Engineer,5 days ago,Telecommuting not available|Travel not required,www.dice.com,"Linux, Ubuntu, Debian, AWS Network Architectur...",ff339e342d7807f66ed46c106d731f25
4,4,1004,https://www.dice.com/jobs/detail/Sales-Represe...,Useready,Full Time,Full time HireThe Sales Manager is responsible...,Dice Id : 10498788,"Boston, MA",Sales Representative,7 days ago,Telecommuting not available|Travel not required,www.dice.com,"Sales rep, Sales Target, sales metrics, Leads,...",2f68e04e4bae69e57d803a620d422dac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,2536,18353,https://www.dice.com/jobs/detail/Senior-C%252B...,The Caldwell Group,"Full Time, Full Time",Excellent opportunity for a highly skilled C++...,Dice Id : caldwell,"Greenwich, CT",Senior C++ Developer,5 hours ago,Telecommuting not available|Travel not required,www.dice.com,"C++; Unix/Linux, gcc, finance, scripting, PhD",8850364bbbcdb088783545e2aaa34cd4
2537,2537,18355,https://www.dice.com/jobs/detail/Software-Deve...,VIVA USA INC,"Full Time, Contract Independent, Contract W2, ...",Title: Software DeveloperMandatory skills: OOP...,Dice Id : vivausa,"Princeton, NJ",Software Developer,4 hours ago,Telecommuting not available|Travel not required,www.dice.com,"OOPs, XML, Prism Library, WPF, WCF and Unit te...",e27b37b0a1f18fad51d6792b7a587fd2
2538,2538,18357,https://www.dice.com/jobs/detail/Storage-Admin...,Virtual Tech Gurus Inc,"Contract Corp-To-Corp, Contract Independent, C...",Required:Ability to perform scripting using PE...,Dice Id : 10348123,"Jersey City, NJ",Storage Admin - Hitachi Data Systems,7 hours ago,Telecommuting not available|Travel not required,www.dice.com,"Hitachi, HDS, VDBench, iostat, G1000",3d2e2e5a66299d1974a7461d69a284b7
2539,2539,18358,https://www.dice.com/jobs/detail/Lead-Data-Int...,The Judge Group,"Contract Corp-To-Corp, Contract Independent, C...",Our client is currently seeking a Lead Data In...,Dice Id : cxjudgpa,"Blue Bell, PA",Lead Data Integration Engineer,6 hours ago,Telecommuting not available|Travel not required,www.dice.com,"CRM, Database, Project, Scrum, SDLC, SQL, Testing",cdac5a2713ecfa3f2e837241ad9cd331
2540,2540,18359,https://www.dice.com/jobs/detail/ACD-%2528Desi...,"Creative Circle, LLC","Full Time, Full-time",Position: ACD (Design)Location: South JerseySt...,Dice Id : RTX141f45,"Hamilton, NJ",ACD (Design),7 hours ago,Telecommuting not available|Travel not required,www.dice.com,"management experience, Pharma, business develo...",f4196e059305bc94d8b805796fb945cf

In [55]:
# select a jobdescription from the second dataframe
for i in range(len(r)):
    jobdesc = df3['jobdescription'][i]

    # fill the JD column of the first dataframe with the selected jobdescription
    r['JD'][i] = jobdesc

/tmp/ipykernel_644777/3269456096.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r['JD'][i] = jobdesc

In [56]:
r

,index,JD,Resume_Text
0,0,Position: Oracle Financial Specialist Locati...,HR ADMINISTRATOR/MARKETING ASSOCIATE\...
1,1,Are you passionate about delivering goals to y...,"HR SPECIALIST, US HR OPERATIONS ..."
2,2,Who we are: Incapsulate provides services from...,HR DIRECTOR Summary Over 2...
3,3,Our client northwest of Boston is in need of a...,HR SPECIALIST Summary Dedica...
4,4,Full time HireThe Sales Manager is responsible...,HR MANAGER Skill Highlights ...
...,...,...,...
2030,2479,"Windows Development EngineerDenver, CO (prefer...",RANK: SGT/E-5 NON- COMMISSIONED OFFIC...
2031,2480,Title: Senior Software EngineerLocation: Chica...,"GOVERNMENT RELATIONS, COMMUNICATIONS ..."
2032,2481,Operations Center AdminTaos is a 26 year old B...,GEEK SQUAD AGENT Professional...
2033,2482,If Candidate is on H1B or OPT he has to work o...,PROGRAM DIRECTOR / OFFICE MANAGER ...
2034,2483,"As a Sales Data Insights Manager, you will dev...",STOREKEEPER II Professional Sum...

In [41]:
r.isnull().sum()

JD             0
Resume_Text    0
dtype: int64

In [44]:
df3.dropna(inplace=True)

/tmp/ipykernel_644777/1665326329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(inplace=True)

In [45]:
df3.isnull().sum()

advertiserurl               0
company                     0
employmenttype_jobstatus    0
jobdescription              0
jobid                       0
joblocation_address         0
jobtitle                    0
postdate                    0
shift                       0
site_name                   0
skills                      0
uniq_id                     0
dtype: int64

In [57]:
r.to_csv('2035unrelated.csv')