# WORD2VEC model

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("last_df.csv")

In [20]:
df

,Unnamed: 0,index,Resume_Text,Job_Description,Similarity,Output
0,0,0,osp engineering designer experience osp engine...,summarythis position lead the requirement deve...,0.615663,Not a Match
1,1,1,executive chef professional summary talented e...,tibco developer with business event location d...,0.696765,Not a Match
2,2,2,chef and restaurant manager summary chef with ...,senior embedded software engineer watertown ma...,0.625313,Not a Match
3,3,3,teacher accomplishment monitor school district...,programmeranswernet willow grove pajob type fu...,0.580113,Not a Match
4,4,4,hr payroll accounting representative summary d...,needed certified lead system architectpega 7 c...,0.326826,Not a Match
...,...,...,...,...,...,...
38222,38222,38222,technical project manager technical project ma...,ssssjob title senior python developer location...,0.856145,Match
38223,38223,38223,full stack java developer full stack java deve...,sssjob title senior cost analystacquisitioncon...,0.868015,Match
38224,38224,38224,api product owner it project manager api produ...,ssjob title data scientistdata analyst locatio...,0.841470,Match
38225,38225,38225,project manager project manager project manage...,ssjob title legal system analyst location aubu...,0.862504,Match
38226,38226,38226,advance repair agent advance repair agent adva...,sssjob title lead coldfusion developer locatio...,0.846119,Match

In [23]:
import pandas as pd
import gensim
from gensim.models import Word2Vec


# Concatenate Resume_Text and Job_Description columns into a single list of sentences
sentences = [sentence for sentence in df['Resume_Text']] + [sentence for sentence in df['Job_Description']]

# Preprocess sentences by tokenizing and converting all text to lowercase
preprocessed_sentences = [
    [word.lower() for word in gensim.utils.simple_preprocess(str(sentence))]
    for sentence in sentences
]

In [24]:

# Train word2vec model on preprocessed sentences
model = Word2Vec(preprocessed_sentences,vector_size=100, window=5, min_count=1, workers=4)

# Save word2vec model to file
model.save("word2vec21.model")